@tailwind base;
@tailwind components;
@tailwind utilities;

/* Web on top, info hero background */
#tsparticles-infos-hero {
	height: 100vh;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 0;
}

/* Non selectable text */
.user-select-none {
	user-select: none; 
}

/* Monkey and Alarm anim from errors page */
@keyframes monkey-chuckle {
	10%, 90% {
	  transform: translate3d(-1px, 0px, 0px);
	}	
	20%, 80% {
	  transform: translate3d(3px, 0px, 0px);
	}  
	30%, 50%, 70% {
	  transform: translate3d(-3px, 0px, 0px);
	}  
	40%, 60% {
	  transform: translate3d(2px, 0px, 0px);
	}
}

/* Hero anim of the hand waving at visitors */
@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(17deg);
	}
	20% {
		transform: rotate(-12deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}